#skills {
  padding: 100px 0;
  background-color: var(--light);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

#skills .skill-card {
  height: 310px;
  min-height: 310px;
}

.skill-level {
  display: none;
}

body.dark-mode #skills {
  background-color: var(--darker);
}
